
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Image classification example</title>
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/thumbnail-gallery.css') }}" rel="stylesheet">
    <link href="../static/css/custom.css" rel="stylesheet">

    <style>

     body {
            background-image: url("../static/Images1/background.jpg");
            background-color: #cccccc;
          }
    </style>


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Tensorflow - Image Classification</a>
            </div>

        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Image Class Prediction</h1>
            </div>
            <div class="row inputRow">
                <div class="col-md-4 thumb">
                    <a class="thumbnail" href="#">
                        <img id="img_plc" class="img-responsive" src="{{ url_for('static', filename='Images1/n03904183_566.JPEG') }}" alt="image" />
                    </a>
                </div>
                <div class="col-md-1 text-center ver-centr">
                    <input class="vertical-center" id="clk" type="button" value="Predict" />
                </div>
                <div class="col-md-4">
                    <h3 id="txt_area"> </h3>
                    <img id="meow" src="{{ url_for('static', filename='Images/giphy.gif') }}" alt="O" style="display:none; width:530px; height:270px">
                </div>
            </div>

            <h4>Select an Image:</h4>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n04096066_23.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n03904183_543.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n06255081_22.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n06255081_13.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n03904183_547.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n03904183_533.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n03904183_448.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n04096066_25.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n06255081_3.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n04215402_124.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n04096066_128.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n04096066_11.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n04096066_89.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n04215402_5.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n03904183_454.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n06255081_16.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n03904183_545.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n06255081_23.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n04215402_23.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n06255081_27.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n04215402_196.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n04096066_7.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" style="width:255px; height:336px" name="Image" src="/static/Images1/n04215402_238.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n04096066_89.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n04215402_5.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n03904183_437.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n06255081_34.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n06255081_6.JPEG" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="/static/Images1/n06255081_21.JPEG" alt="">
                </a>
            </div>
        </div>
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; </p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->


</body>

</html>

<!--export FLASK_APP=label_image.py-->
<!--python3 -m flask run-->

